@{
    ViewData["Title"] = "Home Page";
}
<style>
    #home {
        background-image: url('../../wwwroot/assets/images/home/fastive-image.jpg');
    }
    .big{font-size:large;}
    .done{;}
</style>
<div class="text-center"  >
    <img class="img-circle" src="~/assets/images/fatih-yurur-S43CFXMiWwM-unsplash.jpg" />
    
        </div><!--/.container-->

   <!--/.about-us-->
    <!--about-us end -->
    <!--service start-->
    <section id="service" class="service">
        <div class="container">

            <div class="service-counter text-center">

                <div class="col-md-4 col-sm-4">
                    <div class="single-service-box">
                        <div class="service-img">
                            <img src="assets/images/service/s1.png" alt="service-icon" />
                        </div><!--/.service-img-->
                        <div class="service-content">
                            <h2>
                                <h2 class="big">
                                    amazing tour packages
                                </h2>
                            </h2>
                            <p>Our tour packages are affordable and explorative.</p>
                        </div><!--/.service-content-->
                    </div><!--/.single-service-box-->                    
                </div><!--/.col-->

                <div class="col-md-4 col-sm-4">
                    <div class="single-service-box">
                        <div class="service-img">
                            <img src="assets/images/service/s2.png" alt="service-icon" />
                        </div><!--/.service-img-->
                        <div class="service-content">
                            <h2>
                                <h2 class="big">
                                    book top class hotel
                                </h2>
                            </h2>
                            <p>We book hotels for you based on the customers choice.</p>
                        </div><!--/.service-content-->
                    </div><!--/.single-service-box-->
                </div><!--/.col-->

                <div class="col-md-4 col-sm-4">
                    <div class="single-service-box">
                        <div class="statistics-img">
                            <img src="assets/images/service/s3.png" alt="service-icon" />
                        </div><!--/.service-img-->
                        <div class="service-content">

                            <h2>
                                <h2 class="big">
                                    online flight booking
                                </h2>
                            </h2>
                            <p>We book flights for you online and charge you based on the package chosen..</p>
                        </div><!--/.service-content-->
                    </div><!--/.single-service-box-->
                </div><!--/.col-->

            </div><!--/.statistics-counter-->
        </div><!--/.container-->

    </section><!--/.service-->
    <!--service end-->
    <!--galley start-->
    <section id="gallery" class="gallery">
        <div class="container">
            <div class="gallery-details">
                <div class="gallary-header text-center">
                    <h2>
                        Top destinations
                    </h2>
                    <p>
                        Pouplar destinations visited by people .
                    </p>
                </div><!--/.gallery-header-->
                <div class="gallery-box">
                    <div class="gallery-content">
                        <div class="filtr-container">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="filtr-item">
                                        <img src="assets/images/img1.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <p>
                                                china
                                            </p>
                                            <p><span>20 tours</span><span>15 places</span></p>
                                        </div><!-- /.item-title -->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                                <div class="col-md-6">
                                    <div class="filtr-item">
                                        <img src="assets/images/lalo-hernandez-jCYpHYIgXE4-unsplash.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <p >
                                                venuzuala
                                            </p>
                                            <p><span>12 tours</span><span>9 places</span></p>
                                        </div> <!-- /.item-title-->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                                <div class="col-md-4">
                                    <div class="filtr-item">
                                        <img src="assets/images/agustin-diaz-gargiulo-7F65HDP0-E0-unsplash.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <p>
                                                brazil
                                            </a>
                                            <p><span>25 tours</span><span>10 places</span></p>
                                        </div><!-- /.item-title -->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                                <div class="col-md-4">
                                    <div class="filtr-item">
                                        <img src="assets/images/s-o-c-i-a-l-c-u-t-FxYgxA6wYpQ-unsplash.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <p>
                                                australia
                                            </p>
                                            <p><span>18 tours</span><span>9 places</span></p>
                                        </div> <!-- /.item-title-->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                                <div class="col-md-4">
                                    <div class="filtr-item">
                                        <img src="assets/images/adrien-olichon-QRtym77B6xk-unsplash.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <a href="#">
                                                netharland
                                            </a>
                                            <p><span>14 tours</span><span>12 places</span></p>
                                        </div> <!-- /.item-title-->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                                <div class="col-md-8">
                                    <div class="filtr-item">
                                        <img src="assets/images/adli-wahid-3-QB-YKxTKY-unsplash.jpg" alt="portfolio image" />
                                        <div class="item-title">
                                            <a href="#">
                                                turkey
                                            </a>
                                            <p><span>14 tours</span><span>6 places</span></p>
                                        </div> <!-- /.item-title-->
                                    </div><!-- /.filtr-item -->
                                </div><!-- /.col -->

                            </div><!-- /.row -->

                        </div><!-- /.filtr-container-->
                    </div><!-- /.gallery-content -->
                </div><!--/.galley-box-->
            </div><!--/.gallery-details-->
        </div><!--/.container-->

    </section><!--/.gallery-->
    <!--gallery end-->



