@model CyberTravels.Models.Tour

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Booking Tours.</h2>

<h4>Tour 3 of 3</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CouDestination" class="control-label">Country Destination</label>
                <input asp-for="CouDestination" class="form-control" />
                <span asp-validation-for="CouDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocDestination" class="control-label">Location Destination</label>
                <input asp-for="LocDestination" class="form-control" />
                <span asp-validation-for="LocDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkin" class="control-label"></label>
                <input asp-for="Checkin" type="datetime-local" />
               
            </div>
            <div class="form-group">
                <label asp-for="Checkout" class="control-label"></label>
                <input asp-for="Checkout" type="datetime-local" />
               
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" type="datetime-local" />
              
            </div>
            <div class="form-group">
                <label asp-for="Members" class="control-label"></label>
                <input asp-for="Members" class="form-control" />
                <span asp-validation-for="Members" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="book-btn" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
