@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--blog start-->
<section id="blog" class="blog">
    <div class="container">
        <div class="blog-details">
            <div class="gallary-header text-center">
                <h2>
                    latest news
                </h2>
                <p>
                    Travel News from all over the world
                </p>
            </div><!--/.gallery-header-->
            <div class="blog-content">
                <div class="row">

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 November 2021</span></h2>
                            <div class="thumbnail-img">
                                <img src="~/assets/images/xiaofen-p-smuIrQKJb5I-unsplash.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->

                            <div class="caption">
                                <div class="">
                                    <h3>
                                        <p>
                                            Discover on beautiful weather, Fantastic foods and historical place in Prag
                                        </p>
                                    </h3>
                                   <br /><br />
                                    <p>
                                        in prag there are various places to visit and tour together as a group with intresting views and landscapes
                                    </p>
                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 October 2021</span></h2>
                            <div class="thumbnail-img">
                                <img src="~/assets/images/naveed-ahmed-9Dt4WutvwDs-unsplash.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->
                            <div class="caption">
                                <div class="">
                                    <h3>
                                        <p>
                                            Discover on beautiful weather, Fantastic foods and historical place in india
                                        </p>
                                    </h3>
                                    <br /><br />
                                    <p>
                                        in India there are various places to visit and tour together as a group with intresting views and landscapes
                                    </p>

                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <h2>trending news <span>15 September 2021</span></h2>
                            <div class="thumbnail-img">
                                <img src="~/assets/images/robert-eklund-E9h_-DOvgKk-unsplash.jpg" alt="blog-img">
                                <div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->

                            </div><!--/.thumbnail-img-->
                            <div class="caption">
                                <div class="">
                                    <h3><p>10 Most Natural place to Discover</p></h3>
                                    <br /><br />
                                    <p>
                                       Natural places to visit and tour together as a group with intresting views and landscapes
                                    </p>
                                </div><!--/.blog-txt-->
                            </div><!--/.caption-->
                        </div><!--/.thumbnail-->

                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.blog-content-->
        </div><!--/.blog-details-->
    </div><!--/.container-->

</section><!--/.blog-->
<!--blog end-->